:root{
  --main-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --secondary-title-color: #303030;
  --secondary-btn-color: #303030;
  --accent-bg-color: #ff6c00;
  --accent-txt-cl: #ff6c00;
  --grey-cl-text: gray;
  --grey-cl-bg: gray;
}


body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*--header--*/
.header {
  background-color: gray;
}
.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}
.nav-link:hover,
.nav-link:focus {
  color: #ff6c00;
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color:  var(--main-title-color);
}
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color:  var(--main-title-color);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffffff;
  border: 1px solid #FF6C00;
    border-radius: 25px;

}
.btn:hover,
.btn:focus {
   background-color: var(--accent-bg-color);
   color: var(--main-btn-color);
  }

  .btn-theme-dark {
    color: var(--main-btn-color)
  }


/*--Header-----*/


/*--hero-----*/
.hero {
   background-color: grey;
}



.hero-link {
  ont-weight: 600;
      font-size: 11px;
      line-height: calc(15/11);
      text-transform: uppercase;
      color: var(--secondary-title-color)
}
.hero-link:hover,
.hero-link:focus {
  color:#ff6c00;
}


.hero-text {
   font-weight: 600;
      font-size: 11px;
      line-height: calc(15/11);
      text-transform: uppercase;

      color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-weight: 700;
font-size: 72px;
line-height: calc(85/72);
letter-spacing: 0.05em;
color: var(--main-title-color);

}

.hero-descriotion {
  font-size: 18px;
line-height: calc(30/18);
letter-spacing: 0.02em;

color: #9DA4BD;

}
/*--About-----*/
.about-title {
  font-weight: 600;
font-size: 11px;
line-height: calc(15/11);
text-transform: uppercase;
color: var(--secondary-title-color);
}

.about-sub-title {
  font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: calc(49/42);
letter-spacing: 0.05em;
color: var(--secondary-title-color);
}

.about-description {

font-size: 18px;
line-height: calc(30/ 18);
letter-spacing: 0.02em;
color: #555555;
}
.about-text {
  font-size: 14px;
line-height:  calc(26/ 14);
letter-spacing: 0.02em;

color: #555555;

}
.about-btn {
  font-family: inherit;
  font-weight: 600;
font-size: 12px;
line-height: calc(16/ 12);
letter-spacing: 0.09em;
text-transform: uppercase;
color:var(--secondary-btn-color);
border: 1px solid #ffffff;
border-radius: 25px;
cursor: pointer;

}
.about-btn:hover,
.about-btn:focus {
  border: 1px solid #FF6C00;
}
